body{
    background-color:gray
}
#main{
    color:white;
    font-family: 'Roboto', sans-serif;
    margin:0px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size:5vw;
    text-align:center;
    font-size:25px;
}