:root{
            --primary-color: white;
            --secondary-color: #fafafa;
            --accent: rgb(188, 211, 211);
            --text: black;
        }
        *{
            padding: 0;
            margin: 0;
        }
        html, body{
            background-color: var(--accent);
            font-family: sans-serif !important;
        }
        .menu{
            position: fixed;
            top: 20px;
            left: 23vw;
            background-color: var(--primary-color);
            width: max-content;
            border-radius: 50px;
            z-index: 10;
        }
        .menu > button{
            background-color: var(--primary-color);
            color: var(--text);
            padding: 20px;
            border: transparent;
            border-radius: 5px;
        }
        .menu > button:hover{
            background-color: var(--secondary-color);
        }
        .editorWrapWrap{
            display: flex;
            justify-content: center;
            margin-top: 100px;
        }
        .editorWrap{
            width: 54vw;
            background-color: var(--primary-color);
            border-radius: 10px;
            padding-top: 20px;
        }
        .dialog{
            z-index: 9999;
            width: 40vw;
            background-color: var(--secondary-color);
            /* height: 20vw; */
            border-radius: 10px;
            padding: 20px;
            position: fixed;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
        }
        .dialog > input{
            width: 70%;
            border: var(--accent) 2px solid;
            border-radius: 5px;
            padding: 5px;
            margin: 5px;
        }
        .dialog > div{
            display: flex;
            justify-content: flex-end;
            margin-top: 5px;
        }
        .dialog > div > button{
            padding: 10px;
            border: none;
            margin: 5px;
            background-color: var(--primary-color);
            border-radius: 3px;
        }
        .dialog > div > button:hover{
            background-color: var(--accent);
        }
        @media screen and (orientation:portrait) {
          .editorWrap{
            width: 80vw;
            padding: 1vw !important;
          }
          .menu{
            left: 8vw;
          }
          .dialog{
            width: 80vw;
          }
        }
        .hide{
            display: none;
        }